---
layout: splash
excerpt: "A complete PS Vita Homebrew guide, from stock to Ensō."
header:
  overlay_color: "#1a1d24"
---
	<a style="color: #fff; text-decoration: none;" href="#what-is-homebrew"><h2 id="what-is-homebrew">What is homebrew?</h2></a>
	<p><a href="https://en.wikipedia.org/wiki/Homebrew_(video_games)" target="_blank">Homebrew</a> are games and other software which are not officially approved. For example, VitaDoom is a port of the classic game DOOM and mGBA lets you play Game Boy Advance ROMs. You can find more examples of Vita homebrew <a href="https://henkaku.xyz/showcase/" target="_blank">here</a>.</p>
	
    {% include gads.html %}

	<a style="color: #fff; text-decoration: none;" href="#what-is-henkaku"><h2 id="what-is-henkaku">What is HENkaku?</h2></a>
	<p><a href="https://henkaku.xyz/" target="_blank">HENkaku</a> is the first ever homebrew enabler for PS Vita and PSTV. Running homebrew on your Vita is 100% free using HENkaku. No cost, no ads, and no “donations”. As long as you’re on version 3.60 or below, you’re good to go! If you paid for this software, you should ask for your money back.</p>

	<a style="color: #fff; text-decoration: none;" href="#is-henkaku-legal"><h2 id="is-henkaku-legal">Is HENKaku legal?</h2></a>
	<p>HENkaku is 100% legal in most countries and you won't need to worry about any legal issues by using homebrew.</p>

	<a style="color: #fff; text-decoration: none;" href="#what-can-i-do-with-henkaku"><h2 id="what-can-i-do-with-henkaku">What can I do with HENkaku?</h2></a>
	<p>HENkaku allows much more freedom than ever before possible with the PS Vita. It allows you to break free from the restrictions Sony set down such as:</p>
	<ul>
	  <li>Playing older games with emulators</li>
	  <li>Backing up your physical games and installing them to your memory card to play any time</li>
	  <li>Using a microSD card instead of Sony’s expensive propriety memory cards</li>
	  <li>Installing homebrew titles and having them appear on your home menu</li>
	</ul>

	<a style="color: #fff; text-decoration: none;" href="#what-do-i-need-to-know-before-starting"><h2 id="what-do-i-need-to-know-before-starting">What do I need to know before starting?</h2></a>
	<ul>
	  <li>Using this kind of software does come with a risk. There’s always be a chance that your Vita may become <strong>permanently unusable</strong>. I will not take any responsibility if this happens. Proceed at your own risk</li>
	  <li>Make sure to keep your device is charged before starting to avoid data loss or damage from an unexpected power-off</li>
	  <li>If you are using a Vita 1000, you must have a memory card</li>
	  <li>This guide will not work on versions 3.61 and above</li>
	  <li>There is no exploit for 3.61 and above available</li>
	  <li>Do not trust anyone who says they do</li>
	</ul>
	
	<center><a href="guide/get-started" style="text-decoration: none;color: #fff;font-weight:normal;"><button style="vertical-align:middle"><span><font size="+2">Get Started </font></span></button></a></center>
	
	<hr>
	
	{% include gads.html %}
